@import url("https://fonts.googleapis.com/css2?family=Joti+One&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Joti One", serif;
    background-color: #151414;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.logo {
    color: #fff;
    font-size: 2.5rem;
    padding-left: 50px;
}

.logo span {
    color: #e71515;
}

.logo:hover {
    cursor: default;
}

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    height: 17vh;
    padding-right: 100px;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 2rem;
}

a {
    color: #fff;
    text-decoration: none;
    text-decoration-color: #e71515;
}

a:hover {
    color: #e71515;
    text-decoration: underline;
    text-decoration-color: #fff;
}

.text1{
    color: #e71515;
    text-align: center;
    font-size: 96px;
    margin: 20px;
}

.text2 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 30px;
}

.text2, .text3 span {
    color: #e71515;
}

.text3 {
    font-size: 40px;
    color: #fff;
}


.text {
    /* border: 1px solid #e71515; */
    width: 700px;
    /* margin-left: 1100px; */
    position: absolute;
    bottom: 200px;
    right:200px;
}

.text .text2 {
    margin-top: 20px;

}
img {
    padding-left: 50px
}

.img1{
    border-radius: 20px;
    border: 2px solid #151414;
    width: 500px;
    display: flex;
}

.img1, img {
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #151414;
}

